.client-register-section {
    margin-top: 50px;
}

.client {
    margin-top: 30px;
}

.clients-header {
    margin-top: 30px;
}

.header_name, .header_location, .header_ctrl{
    font-weight: 400;
    font-size: 23px;
}

.clients_list {
    margin-top: 15px;
}

.item_name, .item_location {
    font-size: 17px;
}

.item {
    margin-top: 15px;
}
